.switch-button {
  display: grid;
  justify-items: center;
  max-width: 5rem;
}

.switch-button__label {
  font-size: 1.2rem;
  color: gray;
}

.switch-button__input {
  position: relative;
  appearance: none;
  outline: none;
  width: 5rem;
  height: 2.5rem;
  scale: 0.5;
  background-color: white;
  border: 0.1rem solid gray;
  border-radius: 2.25rem;
  box-shadow: inset -2.5rem 0 0 0 lightgray;
  transition-duration: 500ms;
  margin: 0;
  cursor: pointer;
}

.switch-button__input::after {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.switch-button__input:checked {
  border-color: #26f29a;
  box-shadow: inset 2.5rem 0 0 0 #26f29a;
}

.switch-button__input:checked::after {
  left: 2rem;
  box-shadow: -0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.05);
}
