.card {
  display: grid;
  grid-template-areas:
    'card-user card-user'
    'card-text card-text'
    'card-buttons card-buttons'
    'card-quote card-quote'
  ;
  grid-template-columns: min-content auto;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.2rem lightgray;
  border: solid 0.1rem lightgray;
  background-color: white;
  padding: 1rem;
  margin: 0.8rem 0;
}

.card-profile-button {
  background-color: white;
  border: none;
}

.card-user {
  display: flex;
  cursor: pointer;
}

.card-image {
  width: 3rem;
  border-radius: 50%;
  border: solid 0.05rem lightgray;
}

.card-username {
  margin: auto 0 auto 1rem;
  color: gray;
}

.card-username:hover {
  text-decoration: underline;
}

.card-text {
  grid-area: card-text;
}

.card-buttons {
  grid-area: card-buttons;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.card-quote {
  grid-area: card-quote;
}

.card-text-small {
  color: gray;
  font-size: 0.9rem;
}
