.card {
  display: grid;
  grid-template-areas:
    'card__user card__user'
    'card__text card__text'
    'card__buttons card__buttons'
    'card__quote card__quote'
  ;
  grid-template-columns: min-content auto;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.2rem lightgray;
  border: solid 0.1rem lightgray;
  background-color: white;
  padding: 1rem;
  margin: 0.8rem 0;
}

.card__profile {
  background-color: white;
  border: none;
}

.card__user {
  display: flex;
  cursor: pointer;
}

.card__image {
  width: 3rem;
  border-radius: 50%;
  border: solid 0.05rem lightgray;
}

.card__username {
  margin: auto 0 auto 1rem;
  color: gray;
}

.card__username:hover {
  text-decoration: underline;
}

.card__text {
  grid-area: card__text;
}

.card__buttons {
  grid-area: card__buttons;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

.card__quote {
  grid-area: card__quote;
}

.card__text-small {
  color: gray;
  font-size: 0.9rem;
}
