.layout {
  display: grid;
  padding: 0 8rem;
}

.layout__header {
  display: grid;
  grid-template-columns: min-content auto 5rem 6rem;
  align-items: center;
}

.layout__logo {
  max-width: 3rem;
  margin-right: 0.6rem;
}

.layout__title {
  color: #00a0fa;
  font-size: 3rem;
  margin: 0;
}
