.text-area__wrapper {
  margin-top: 2rem;
}


.text-area__title {
  color: #00a0fa;
}

.text-area {
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;
}

.text-area__counter {
  color: gray;
  margin: 0 0 1rem;
}
